.content {
  max-width: min(112rem, 90%);
}

#addPage header .header-buttons {
  display: flex;
}

#addPage header .header-buttons .button {
  margin-right: 0.8rem;
  padding: 1.3rem 3.2rem;
}

#addPage header .header-buttons .red {
  padding: 1.3rem 3.2rem;
}

input {
  padding: 0 1.6rem;
  border: 0.2rem solid var(--grey-blue);
  outline: none;
  width: 100%;
  margin-bottom: 1.8rem;
}

select {
  padding: 0 1.6rem;
  border: 0.2rem solid var(--grey-blue);
  outline: none;
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: var(--grey-light);
  color: var(--grey-dark);
}

#input-product {
  padding: 5rem 10rem 15rem 10rem;
}
