* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --blue: #3485ff;
  --background: #fbfcff;

  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-light: #ecf2f8;

  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body {
  display: flex;
  height: 100vh;
  background: var(--background);
}

body,
input,
select {
  /* size range */
  font-size: clamp(14px, 1.6rem, 2vw);

  font-family: "Open Sans", sans-serif;
}

label {
  font-weight: bold;
}

.content {
  width: 100%;
  margin: 0 auto;
}

/*hides screen reader help descriptions*/
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: var(--black);
  font-weight: 700;
  line-height: 4.2rem;
  margin-top: 1rem;
}

select,
input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  transition: filter 0.2s;

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button.red,
#red {
  background: var(--red);
  color: var(--white);
}

.line {
  height: 0.2rem;
  background-color: var(--black);
  opacity: 0.7;
  margin: 2rem 0rem 2rem 0rem;
}

/****** HEADER******/
.content header {
  width: 100%;
  margin: 3.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****** FOOTER******/
.content footer {
  width: 100%;
  margin: 3.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content footer > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
  line-height: 4.2rem;
  padding-bottom: 2rem;
}

/******ALERT******/
.alert {
  color: var(--white);
  background-color: var(--red);
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.7rem 1.7rem 1.7rem 5rem;
}
