.content {
  max-width: min(112rem, 90%);
}

#listPage header .header-buttons {
  display: flex;
}

#listPage header .header-buttons .button {
  margin-right: 0.8rem;
  padding: 1.3rem 3.2rem;
}

#listPage header .header-buttons .red {
  padding: 1.3rem 3.2rem;
}

/******PRODUCTS******/
#products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.product-content {
  padding: 3rem;
}
.product-wrapper {
  width: 22.9rem;
  background: var(--grey-light);
  margin: 1.5rem;
  border-radius: 0 0.8rem 0.8rem.8rem;
  padding: 2.4rem;
}

.product-wrapper input {
  border-radius: 0.8rem;
  height: 2.5rem;
}

.product-wrapper .product-content p {
  word-break: initial;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 3.5rem;
  font-size: 1.4rem;
  font-family: "OpenSans", sans-serif;
}

.product-wrapper .product-content p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}

.product-wrapper .actions {
  margin-left: 0.5rem;
  height: 0.5rem;
}

/******NO PRODUCTS******/
.no-products {
  text-align: center;
  margin-top: 5.2rem;
}

.no-products p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
}
.no-products p + p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.3rem;
  line-height: 1.9rem;
  color: var(--grey-dark);
}

.no-products img {
  height: 50%;
  width: 50%;
}
